services:
 db:
   image: postgres:17
   environment:
     POSTGRES_DB: db01
     POSTGRES_USER: victor
     POSTGRES_PASSWORD: 12345@Victor
   ports:
     - "5432:5432"
   volumes:
     - postgres_data:/var/lib/postgresql/data
   env_file:
     - .env
 
 django-web:
   build: .
   container_name: django-docker
   ports:
     - "8000:8000"
   depends_on:
     - db
   env_file:
     - .env.docker
volumes:
   postgres_data: